/*
 *= require_tree .
 *= require_self
 */

input {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  border: 1px solid gray;
  padding: 10px;
  width: 80%;
}

textarea {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  border: 1px solid gray;
  padding: 10px;
  width: 80%;
}

.hp, .admin_form{
  margin: 0 auto;
  width: 80%;
}

.bold_text{
  font-weight: bold;
}

#container{
  margin-top: 150px;
  // text-align: center;
}

.nav_logo_div{
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: start;
  width: 50%;
}

.nav_logo_div span{
  margin: -10px 8% 10px;
  color: gray;
}

#logout_div{
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: end;
}

#logout{
  margin-right: 10px;
}

#flash_notice, #flash_alert{
  text-align: center;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

.login_registration{
  width: 40vw;
  margin: 20px auto;
  border: solid 1px #E34008;
  border-radius: 6px;
  padding: 30px 0;
  text-align: center;
}


// input{
//   width:300px;
// }

.submit-button input:hover{
  opacity: .7;
  cursor: pointer;
}

.submit-button input{
  background-color: #E34008;
  border: none;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 20px auto;
  background: #E34008 ;
  padding: 10px;
  border-radius: 50px;
  border: none;
  width: 160px;
  color: white;
}

.logged_out {
  text-align: center;
}

.logged_out .top_link{
  color: gray;
}

.italics{
  font-style: italic;
}
