// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color: #E34008;
$accent-color: #777879;
$accent-color-light: lightgrey;

body{
  margin: 0!important;
  font-family: 'Lato', sans-serif;
}

nav{
  width: 100%;
  background-color: transparent;
  top:0;
  position: absolute;
}

nav img{
  margin-top: 15px;
  width: 300px;
}

footer{
  width: 100%;
  bottom: 0;
  position: absolute;
}

// tour stop //

.tourstop-body{
  width: 80vw;
  margin: 0 auto;
  text-align:justify;
  color: $accent-color;
  line-height: 1.4;
  font-weight: 300;
}

.tourstop-main-photo{
  width: 100%;
  height: 25vh;
  margin-bottom: 40px;
  overflow: hidden;
}

.photo-change-btn{
  position: absolute;
  margin-left: 85vw;
  margin-top: 20vh;
}

.tourstop-header-text{
  width: 80vw;
  margin: 0 auto;
}

.tourstop-header-text h1{
  text-align: center;
  color: $primary-color;
  font-size: 45px;
  padding-bottom: 0;
}

.tourstop-header-text p {
  text-align: center;
  color: $accent-color;
  font-size: 15px;
  padding-bottom: 0;
}

.tourstop-header-links{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  color: $primary-color;
  font-size: 35px;
  width: 80vw;

}

.tourstop-header-links img{
  height: 100px;
}

.tourstop-header-links a{
  color: $primary-color;
  text-decoration: none;
  font-size: 35px;

}

.tourstop-travel-tip{
  background-color: $accent-color-light;
  margin-top: 40px;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 15px;
  line-height: 1.1;
}

.tourstop-travel-tip h2{
  padding: 30px;
  line-height: 1.1;
  font-size: 28px;
}



.tourstop-footer-links{
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
  align-items: center;
  font-size: 35px;
}

.tourstop-footer-links a{
  color: $primary-color;
  text-decoration: none;
}

// main tour page //
@media screen and (min-width: 375px){
  .tour-main-photo{
    height: 700px;
    background-image: url('https://static1.squarespace.com/static/56eff436c2ea5144e9b6dce0/5861b28bbe6594106ff76705/5861b2aa03596eeb527fe719/1482883865229/Downtown-Durham-NC.jpg');

  }

  .tour-main-text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    padding-top: 10vh;
    color: white;
  }

  .tour-main-text h1{
    font-size: 95px;
  }

  .tour-main-text h2{
    font-size: 45px;
  }

  .tour-main-photo p{
    text-align: center;
    color: white;
    margin-top: 6vh;
    font-size: 25px;
    font-style: italic;
  }

  .select-a-tour{
    color: $primary-color;
    text-align: center;
    font-size: 40px;
  }

  .tours-wrapper{
    display: flex;
    justify-content: space-between;
    width: 65vw;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .tour-item{
    width: 28vw;
    height: 25vh;
    margin-bottom: 35px;
    border: solid 1px transparent;
    opacity: .7;
  }

  .tour-item:hover{
    border: solid 1px $primary-color;
    opacity: 1;
    cursor: pointer;
  }


  .tour-item-text{
    padding: 20px;

  }

  .tour-item-text p{
    text-align: center;
    color: $accent-color;
    font-size: 30px;
    width: 25vw;
    margin: 0 auto;
  }

  .tour-item-photo{
    width: 100%;
    height: 70%;
    background-color: $accent-color-light;
  }

  @media screen and (min-width: 600px){

  }
}
