// Place all the styles related to the Organizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



table {
  border-collapse: collapse;
}

td {
  padding: 15px;
  background-color: #E8E8EE;
  border-bottom: solid 1px darkgrey;

}

td a {
  font-size: small;
}

th{
  background-color: lightgrey;
  padding: 15px;


}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 0 0 ;
  width: 100%;
-webkit-box-shadow: 0px 7px 43px -16px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 7px 43px -16px rgba(0,0,0,0.75);
box-shadow: 0px 7px 43px -16px rgba(0,0,0,0.75);
}

nav h2{
  margin-right: 20px;
}

.hp{
    margin: 0 auto;
    width: 90vw;
    text-align: left;
}

.hp h1{
  color: #E83D1E;
}



nav img{
  padding-bottom: 15px;
}

.new-tour-btn{
  font-size: 16px;
 font-weight: 300;
 letter-spacing: 2px;
 margin: 20px auto;
 background: #E34008 ;
 padding: 10px;
 border-radius: 50px;
 border: none;
 color: white;
}

.new-tour-btn:hover{
  opacity: .7;
}

.new-tour-btn a{
  text-decoration: none;
  color: white;
}
