// Place all the styles related to the Stops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li {
  list-style: none;
}

p {
  -webkit-margin-before: 0.2em;
  -webkit-margin-after: 0.2em;
}

#stops_index_top form input, .hp form input {
  background-color: #D34D26;
  border-color: #D34D26;
  color: white;
  font-size: medium;
  font-family: 'Lato', sans-serif;
}

#stops_index_top form #file{
  color: black;
  background-color: white;
}

.choose_file {
  position: relative;
  overflow: hidden;
  width: 25%;
  color: white;
  border-style: outset;
  padding: 2px;
  text-align: center;
  border-color: #D34D26;
  background: #D34D26;
}

.choose_file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}



#stops_index_top a{
  align-items: flex-start;
  text-align: center;
  cursor: default;
  color: white;
  background-color: #D34D26;;
  box-sizing: border-box;
  padding: 2px 6px 3px;
  border-width: 2px;
  border-style: outset;
  border-color: #D34D26;
  border-image: initial;
  text-decoration: none;
}

.button_div{
  display: flex;
  flex-direction: row;
}

#button_left, #button_right{
  text-align: center;
  cursor: default;
  color: buttontext;
  background-color: buttonface;
  box-sizing: border-box;
  padding: 2px 6px 3px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  border-image: initial;
}

#button_left{
  margin: 0 15px 0 0;
}

#button_right{
  margin: 0 0 0 15px;
}

.p_with_img{
  display: inline-grid;
}

.hp .style_image{
  width: 85%;
}

.images_holder{
  display: flex;
  flex-direction: row;
}

.second_image_na{
  display: inline-block;
}

.link_container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
