// Place all the styles related to the Tour controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1, h2{
  color: #E34008;
}


.submit input{
 font-size: 16px;
 font-weight: 300;
 letter-spacing: 2px;
 margin: 20px auto;
 background: #E34008 ;
 padding: 10px;
 border-radius: 50px;
 border: none;
 width: 160px;
 color: white;
 text-transform: uppercase;
}

.stop-btn{
 font-size: 16px;
 font-weight: 300;
 letter-spacing: 2px;
 margin-bottom: 20px;
 background: #E34008 ;
 padding: 5px 10px;
 border-radius: 50px;
 border: none;
 color: white;
 text-align: center;
 display: inline-block;
}

.stop-btn:hover{
  opacity: .7;
}

.stop-btn a{
  text-decoration: none;
  color: white;
}

.tour_show_buttons{
  // margin-left: 20px;
}

li .top_link {
  margin: 5px -18px 10px;
}

#list_link {
  list-style: none;
}

.main_tour_photo{
  height: 250px;
  width: 250px;
}
